<h1>Box Index</h1>

<% @boxes.each do |box| %>

<div class="box">
  <h2>
    <%= link_to 'Name of Person', box_path(box.id)%>
  </h2>
  <p>
    <%= link_to box.title1, box.url1%>
  </p>

  <p>
    <%= link_to box.title2, box.url2%>
  </p>

  <p>
    <%= link_to box.title3, box.url3%>
  </p>
</div>

<% end %>

<hr>
<p>
  <%= link_to 'new box', new_box_path %>
</p>
