<div class="box">
  <h2>
    Name of Person
  </h2>
  <p>
    <%= link_to @box.title1, @box.url1%>
  </p>

  <p>
    <%= link_to @box.title2, @box.url2%>
  </p>

  <p>
    <%= link_to @box.title3, @box.url3%>
  </p>
</div>

<%= link_to 'Edit', edit_box_path(@box) %>
<%= link_to 'Boxes', boxes_path %>
